In [2]:
# 1. Importar librerías necesarias
import pandas as pd
import numpy as np

# 2. Cargar el dataset
df = pd.read_csv("data/survey_results_public.csv")


# 3. Verificar dimensiones y primeras filas
print("Shape:", df.shape)
df.head()

Shape: (65437, 114)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [3]:
# Mostrar número de valores nulos por columna
valores_nulos = df.isnull().sum()
porcentaje_nulos = (valores_nulos / len(df)) * 100

# Mostrar en una tabla ordenada
valores_faltantes = pd.DataFrame({
    'Valores Nulos': valores_nulos,
    'Porcentaje (%)': porcentaje_nulos.round(2)
}).sort_values(by='Valores Nulos', ascending=False)

# Mostrar solo columnas con más del 30% de valores nulos
valores_faltantes[valores_faltantes['Porcentaje (%)'] > 30]

                            Valores Nulos  Porcentaje (%)
AINextMuch less integrated          64289           98.25
AINextLess integrated               63082           96.40
AINextNo change                     52939           80.90
AINextMuch more integrated          51999           79.46
EmbeddedAdmired                     48704           74.43
...                                   ...             ...
AIThreat                            20748           31.71
OfficeStackSyncAdmired              20725           31.67
WebframeHaveWorkedWith              20276           30.99
BuyNewTool                          20256           30.95
SOPartFreq                          20200           30.87

[74 rows x 2 columns]

In [4]:
# Eliminar columnas con más del 30% de nulos
columnas_a_eliminar = valores_faltantes[valores_faltantes['Porcentaje (%)'] > 30].index
df_clean = df.drop(columns=columnas_a_eliminar)

# Verificar nuevas dimensiones
print("Nueva forma del DataFrame:", df_clean.shape)
df_clean.head()

Nueva forma del DataFrame: (65437, 40)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,OfficeStackSyncWantToWorkWith,NEWSOSites,SOVisitFreq,SOAccount,SOHow,SOComm,AISelect,AISent,SurveyLength,SurveyEase
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,Yes,Very favorable,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,Slack,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,Google Chat;Google Meet;Zoom,Stack Overflow;Stack Exchange;Stack Overflow B...,Multiple times per day,Yes,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,Appropriate in length,Easy
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,Stack Overflow,Daily or almost daily,No,Quickly finding code solutions,"No, not really",Yes,Very favorable,Too long,Easy
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,Discord;Whatsapp,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Quickly finding code solutions;Engage with com...,"Yes, definitely","No, and I don't plan to",NaN,Too short,Easy

In [6]:
print(df_clean.columns.tolist())

['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check', 'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'Country', 'Currency', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired', 'DatabaseHaveWorkedWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired', 'OpSysPersonal use', 'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOHow', 'SOComm', 'AISelect', 'AISent', 'SurveyLength', 'SurveyEase']

In [7]:
[col for col in df.columns if "Comp" in col or "Salary" in col]

['CompTotal', 'AIComplex', 'ConvertedCompYearly']

In [8]:
# Crear nuevo DataFrame solo con las columnas clave desde el original
columnas_modelo = [
    "Country",
    "EdLevel",
    "YearsCodePro",
    "Employment",
    "RemoteWork",
    "ConvertedCompYearly"  # 🎯 Variable objetivo: salario anual
]

df_modelo = df[columnas_modelo].copy()

# Ver primeras filas
df_modelo.head()

,Country,EdLevel,YearsCodePro,Employment,RemoteWork,ConvertedCompYearly
0,United States of America,Primary/elementary school,NaN,"Employed, full-time",Remote,NaN
1,United Kingdom of Great Britain and Northern I...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",Remote,NaN
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",27,"Employed, full-time",Remote,NaN
3,Canada,Some college/university study without earning ...,NaN,"Student, full-time",NaN,NaN
4,Norway,"Secondary school (e.g. American high school, G...",NaN,"Student, full-time",NaN,NaN

In [9]:
# 1. Eliminar filas sin salario
df_modelo = df_modelo[df_modelo["ConvertedCompYearly"].notnull()]

# 2. Eliminar filas sin años de experiencia
df_modelo = df_modelo[df_modelo["YearsCodePro"].notnull()]

# 3. Reiniciar índices
df_modelo.reset_index(drop=True, inplace=True)

# 4. Mostrar forma y primeras filas
print("Shape después de limpiar:", df_modelo.shape)
df_modelo.head()

Shape después de limpiar: (23345, 6)

,Country,EdLevel,YearsCodePro,Employment,RemoteWork,ConvertedCompYearly
0,Pakistan,"Secondary school (e.g. American high school, G...",1,"Employed, full-time;Student, full-time;Indepen...","Hybrid (some remote, some in-person)",7322.0
1,Austria,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",6,"Employed, full-time","Hybrid (some remote, some in-person)",30074.0
2,Turkey,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,"Employed, full-time",Remote,91295.0
3,France,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",17,"Independent contractor, freelancer, or self-em...",Remote,53703.0
4,United States of America,Some college/university study without earning ...,7,"Employed, full-time;Student, part-time",Remote,110000.0

In [10]:
def limpiar_experiencia(x):
    if x == "Less than 1 year":
        return 0.5
    elif x == "More than 50 years":
        return 51
    try:
        return float(x)
    except:
        return np.nan

# Aplicar limpieza
df_modelo["YearsCodePro"] = df_modelo["YearsCodePro"].apply(limpiar_experiencia)

# Eliminar filas que quedaron como NaN después de la conversión
df_modelo = df_modelo[df_modelo["YearsCodePro"].notnull()]
df_modelo.reset_index(drop=True, inplace=True)

# Verificar
df_modelo["YearsCodePro"].describe()

count    23345.000000
mean        10.238895
std          8.622371
min          0.500000
25%          4.000000
50%          8.000000
75%         14.000000
max         51.000000
Name: YearsCodePro, dtype: float64

In [11]:
# 1. Simplificar nivel educativo
def limpiar_nivel(x):
    if "Bachelor" in x:
        return "Bachelor"
    elif "Master" in x:
        return "Master"
    elif "Professional" in x or "doctoral" in x or "Ph.D" in x:
        return "Doctorate"
    elif "Some college" in x or "Secondary" in x or "Primary" in x:
        return "NoDegree"
    else:
        return "Other"

df_modelo["EdLevel"] = df_modelo["EdLevel"].apply(limpiar_nivel)

# 2. Simplificar tipo de empleo (primera etiqueta si hay varias)
df_modelo["Employment"] = df_modelo["Employment"].apply(lambda x: x.split(";")[0].strip())

# 3. Rellenar nulos en RemoteWork con "Unknown" y convertir a categorías
df_modelo["RemoteWork"] = df_modelo["RemoteWork"].fillna("Unknown")

# 4. Codificar categóricas con OneHotEncoding
df_final = pd.get_dummies(df_modelo, columns=["Country", "EdLevel", "Employment", "RemoteWork"], drop_first=True)

# Verificar
print("Shape final:", df_final.shape)
df_final.head()

Shape final: (23345, 180)

,YearsCodePro,ConvertedCompYearly,Country_Albania,Country_Algeria,Country_Andorra,Country_Angola,Country_Antigua and Barbuda,Country_Argentina,Country_Armenia,Country_Australia,...,EdLevel_Other,"Employment_Employed, part-time","Employment_Independent contractor, freelancer, or self-employed","Employment_Not employed, but looking for work",Employment_Retired,"Employment_Student, full-time","Employment_Student, part-time",RemoteWork_In-person,RemoteWork_Remote,RemoteWork_Unknown
0,1.0,7322.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,6.0,30074.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,6.0,91295.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,17.0,53703.0,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
4,7.0,110000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [12]:
# Guardar el DataFrame final con features limpias y codificadas
df_final.to_csv("data/datos_limpios_modelo.csv", index=False)